<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Title }}</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css"
  />
  <style>
    :root {
      --background-body: #fff5ea;

      --background: #fff5ea;
      --text-main: #345;
      --text-bright: #345;
      --text-muted: #968c83;
      --links: #968c83;
      --focus: #968c83;
      --border: #f7dad9;
      font-size: 1.25rem;
    }
  </style>
</head>