<!DOCTYPE html>
<html lang="en">
  {{ partial "partials/head.html" . }}
  <body class="doodle">
    {{ partial "partials/header.html" . }}
    <main>
      <article class="doodle-border" style="padding: 10px; margin: 10px; ">
        <h3>
          {{ .Title }}
        </h3>
        <div>
          {{ .Content }}
        </div>
        <section class="doodle-border" style="padding: 10px; margin: 10px;">
          {{- range $entries := .Params.categories }}
              <a href="{{ "/categories/" | relLangURL }}{{ $entries | urlize
              }}">{{ $entries }}</a>
          {{- end }}
          {{- range $entries := .Params.tags }}
              <a href="{{ "/tags/" | relLangURL }}{{ $entries | urlize
              }}">{{ $entries }}</a>
          {{- end }}
        </section>    
      </article>
      
      
    </main>
    {{ partial "partials/footer.html" . }}
  </body>
</html>
